body{
    margin: 0;
    background-color: #F5F5F5;
}


.flex-conteiner{
    display: flex;
    justify-content: center;
    gap: 360px;
}

#logo{
    display: flex;
    align-items: center; 
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #464646;
} 


.menu{
    display: flex;
    align-items: center;
    gap: 32px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.menu a {
    text-decoration: none;
    color:#464646;
}

.email{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #464646;
}


.personagem{
    width: 80px;
    height: 80px;
}

.apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    
}
.conteudo  h1{
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: 700;
    color:#464646;
}

.conteudo  h3{
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:#464646;
}

.links{
    display: flex;
    gap: 32px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:#464646;
}

.link{
    display: flex;
    align-items: center;
    gap: 4px;
}

.link a{
    text-decoration: none;
    color:#464646;
}

.material-symbols-outlined{
    width: 24px;
    height: 24px;
    color:#464646;
}

.foto-perfil{
    width: 368px;
    height: 368px;
    border-radius: 50%;
}

.flex-conteudo{
    background-color: #EAF2FD;
    height: 430px;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    padding-left: 150px;
    padding-right: 385px;
}

.flex-conteudo h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color:#464646;
}

.flex-conteudo p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:#464646;
}

.flex-conteudo img {
    width: 140px; 
}

.skills-hobbies h1{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color:#464646;
    text-align: center;
}

.hobbies-skills {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.skills{
    width: 176px;
    height: 174px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 16px;
}

.skills img {
    width: 30px;
    height: 30px;
}

.skills p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:#464646;
}

.hobbies{
    width: 176px;
    height: 174px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 16px;
}

.hobbies img {
    width: 30px;
    height: 30px;
}

.hobbies p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:#464646;
}

.formacao-academica {
    height: 581px;
    background-color: #EAF2FD;
}

.flex-formacao{
    display: flex;
    justify-content: center;
    gap: 16px;

}

.formacao-academica h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color:#464646;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 32px;
}

.formacao{
    width: 368px;
    height: 286px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.academica{
    width: 190px;
    height: 130px;
}

.informacao-academica h3{
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color:#464646;
    margin-bottom: 0;
}

.informacao-academica p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:#464646;
    margin-top:0 ;
}

.informacao-academica{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experiencia-profissional h1{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color:#464646;
    text-align: center;
}

.flex-experiencia{
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.experiencia{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.experiencia img{
    width: 772px;
    height: 426px;
}

.experiencia h3 {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color:#464646;
}

.experiencia p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:#464646;
}

.button-1 {
    width: 116px;
    height: 51px;
    border: #2A7AE4 solid 1px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2A7AE4;
}

.button-2 {
    width: 116px;
    height: 51px;
    background-color: #2A7AE4;
    border: #2A7AE4 solid 1px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.informacao-experiencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-box{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.contato img{
    height: 250px;
}

.contato{
    height: 788px;
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-informacao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contato-informacao h3{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #464646;
}

.contato-informacao p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}

.text {
    width: 656px;
    height: 56px;
    border: none;
}

.text ::placeholder {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}

.enviar{
    width: 165px;
    height: 51px;
    background-color: #2A7AE4;
    border: #2A7AE4 solid 1px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.mensagem-sucesso {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}

textarea{
    width: 656px;
    height: 133px;
    border: none;
}

textarea ::placeholder {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}

span{
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #464646;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 102px;
    background-color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #464646;

}

/*Dispositivo Tablet*/
@media (min-width: 768px) and (max-width: 900px){
    .flex-conteiner{
        gap: 200px;
    }
    .assunto {
        display: none;
    }

    .conteudo{
        height: 210px;   
    }

    .conteudo h1{
        font-size: 22px;
    }
    .conteudo h3{
        font-size: 16px;
    }

    .foto-perfil {
        width: 146px;
        height: 146px;
    }

    .flex-conteudo{
        height: 390px;
        padding: 15px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .flex-conteudo h1{
        font-size: 22px;
    }

    .flex-conteudo p{
        font-size: 14px;
        
    }

    .hobbies-skills{
        display: flex;
        overflow-x: scroll;
        padding: 50px;
    }

    .skills{
        width: 224px;
        height: 118px;
    }

    .hobbies{
        width: 224px;
        height: 118px;
    }

    .formacao-academica{
        height: 291px;
    }
    .formacao-academica h1{
        font-size: 22px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .formacao{
        width: 224px;
        height: 118px;
    }

    .formacao img {
        width: 60px;
        height: 60px;
    }

    .informacao-academica h3{
        font-size: 16px;
    }

    .informacao-academica p{
        font-size: 14px;
    }

    .experiencia-profissional h1{
        font-size: 22px;
    }

    .flex-experiencia img{
        width: 704px;
        height: 320px;
    }

    .experiencia{
        flex-direction: column;
    }

    #decodificador {
        display: flex;
        flex-direction: column-reverse;
    }

    .contato{
        height: 637px;
    } 

    .contato h3{
        font-size: 22px;
    }

    .contato p{
        font-size: 16px;
    }

    .contato-informacao input {
        width: 500px;
        height: 54px;
    }

    .contato-informacao textarea{
        width: 500px;
    }

    .contato-informacao button{
        height: 40px;
    }

    .contato-informacao{
        gap: 0px;
    }

}

/*dispositivo celular*/
@media (min-width: 414px) and (max-width: 720px){
    .flex-conteiner{
        gap: 100px;
    }
    .flex-conteiner p{
        font-size: 16px;
    }
    .personagem{
        width: 24px;
        height: 24px;
    }

    .email{
        font-size: 16px;
    }
    .assunto{
        display: none;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .foto-perfil{
        width: 98px;
        height: 98px;
    }

    .apresentacao h1{
        font-size: 22px;
    }

    .apresentacao h3{
        font-size: 14px;
    }
    .links{
        font-size: 14px;
        gap: 8px;
    }

    .flex-conteudo{
        padding: 10px;
        height: 490px;
    }

    .flex-conteudo h1{
        font-size: 22px;
    }

    .flex-conteudo p{
        font-size: 14px;
    }
    
    .hobbies-skills{
        display: flex;
        flex-wrap: wrap;
    }

    .skills-hobbies h1{
        font-size: 22px;
    }

    .flex-formacao{
        flex-direction: column;
        align-items: center;
        height: 400px;
    }

    .flex-formacao-academica{
        padding-left: 70px;
    }

    .formacao-academica h1{
        font-size: 22px;
    }
    .formacao{
        width: 296px;
        height: 118px;
    }

    .academica{
        width: 84px;
        height: 84px;
    }

    .experiencia-profissional h1{
        font-size: 22px;
    }

    .flex-experiencia img{
        width: 296px;
        height: 144px;
    }

    .experiencia{
        flex-direction: column;
    }

    #decodificador {
        display: flex;
        flex-direction: column-reverse;
    }

    .contato-informacao{
        padding: 10px;
    }

    .contato img {
        display: none;
    }

    .contato h1 {
        font: 22px;
    }
    .contato p {
        font: 16px;
    }

    .text{
        width: 296px;
    }

    textarea{
        width: 296px;
    }
    
}